In [32]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
fpath = "./dataset"

In [5]:
exam_data = {
    "수학" : [90,80,90],
    "영어" : [98,89,95],
    "성별" : ["남","남","여"],
    "합격" : [True, False, True]
}

exam_df = pd.DataFrame(exam_data)
print(exam_df)
print(exam_df.shape)
print(exam_df.info())

   수학  영어 성별     합격
0  90  98  남   True
1  80  89  남  False
2  90  95  여   True
(3, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   수학      3 non-null      int64
 1   영어      3 non-null      int64
 2   성별      3 non-null      object
 3   합격      3 non-null      bool
dtypes: bool(1), int64(2), object(1)
memory usage: 207.0+ bytes
None

In [6]:
list_df = [["green","M",13.5, "class1"],
        ["red", "L", 15.3, "class2"],
        ["blue","XL", 10.1, "class1"]]

df = pd.DataFrame(list_df, columns=["color", "size", "price", "classlabel"])
print(df)

   color size  price classlabel
0  green    M   13.5     class1
1    red    L   15.3     class2
2   blue   XL   10.1     class1

In [7]:
# 변수명 바꾸기
df.rename(columns = {"color": "색깔", "size": "크기",
                    "price": "가격", "classlabel": "클래스"},
            index = {0:1, 1:2, 2:3},
                inplace = True)

print(df)

      색깔  크기    가격     클래스
1  green   M  13.5  class1
2    red   L  15.3  class2
3   blue  XL  10.1  class1

In [8]:
## 
exam_data = {
    "수학" : [90,80,90],
    "영어" : [98,89,95],
    "성별" : ["남","남","여"],
    "합격" : [True, False, True]
}

exam_df = pd.DataFrame(exam_data)

print("examp_df = \n", exam_df)
exam_df.drop(labels=["수학"],axis = 1, inplace=True)
print('exam_df = \n',exam_df)
exam_df.drop(labels= ["영어", "합격"],axis = 1, inplace= True)
print('exam_df = \n',exam_df)
exam_df.drop(labels = [0], axis = 0, inplace= True)
print('exam_df = \n',exam_df)

examp_df =
    수학  영어 성별     합격
0  90  98  남   True
1  80  89  남  False
2  90  95  여   True
exam_df =
    영어 성별     합격
0  98  남   True
1  89  남  False
2  95  여   True
exam_df =
   성별
0  남
1  남
2  여
exam_df =
   성별
1  남
2  여

In [92]:
fname = "vor_r.xlsx"
file = os.path.join(fpath, fname)
vor = pd.read_excel(file)
print("*" * 100)
print("vor = \n",vor.head())
print("*" * 100)
vor.rename(columns={"group": "소속", "id":"번호"}, inplace= True)
print("vor = \n",vor.head())
print("*" * 100)
vor.drop(labels=["소속","번호"], axis = 1, inplace = True)
print("*" * 100)
print("vor = \n",vor.head())

****************************************************************************************************
vor =
    group  id time    hz0.04    hz0.08     hz0.1    hz0.16    hz0.32    hz0.64  \
0      1   1  Pre  0.213840  0.717955  0.848727  0.850790  0.802738  0.808393
1      1   2  Pre  0.345725  0.795440  0.781473  0.924972  0.801245  0.803880
2      1   3  Pre  0.376285  0.799327  0.781350  0.777773  0.868007  0.868853
3      1   4  Pre  0.451440  0.771083  0.808645  0.787825  0.839985  0.832352
4      1   5  Pre  0.287360  0.825547  0.831303  0.818332  0.817320  0.816153

        hz1
0  0.738967
1  0.781420
2  0.754252
3  0.818722
4  0.836298
****************************************************************************************************
vor =
    소속  번호 time    hz0.04    hz0.08     hz0.1    hz0.16    hz0.32    hz0.64  \
0   1   1  Pre  0.213840  0.717955  0.848727  0.850790  0.802738  0.808393
1   1   2  Pre  0.345725  0.795440  0.781473  0.924972  0.801245  0.803880
2   1   3  Pre  0.376285  0.799327  0.781350  0.777773  0.868007  0.868853
3   1   4  Pre  0.451440  0.771083  0.808645  0.787825  0.839985  0.832352
4   1   5  Pre  0.287360  0.825547  0.831303  0.818332  0.817320  0.816153

        hz1
0  0.738967
1  0.781420
2  0.754252
3  0.818722
4  0.836298
****************************************************************************************************
****************************************************************************************************
vor =
   time    hz0.04    hz0.08     hz0.1    hz0.16    hz0.32    hz0.64       hz1
0  Pre  0.213840  0.717955  0.848727  0.850790  0.802738  0.808393  0.738967
1  Pre  0.345725  0.795440  0.781473  0.924972  0.801245  0.803880  0.781420
2  Pre  0.376285  0.799327  0.781350  0.777773  0.868007  0.868853  0.754252
3  Pre  0.451440  0.771083  0.808645  0.787825  0.839985  0.832352  0.818722
4  Pre  0.287360  0.825547  0.831303  0.818332  0.817320  0.816153  0.836298

In [33]:
# 데이터 생성
exam_data = {
    "수학" : [90, 80, 90],
    "영어" : [98, 89, 95],
    "성별" : ["남", "남", "여"],
    "합격" : [True, False, True]
}

exam_df = pd.DataFrame(exam_data)

print("원본 exam_df = \n", exam_df)

# 값 일부를 NaN 및 None으로 대체
exam_df.loc[0, "성별"] = np.nan  # 첫 번째 행의 성별을 NaN으로 설정
exam_df.loc[1, ["수학", "영어"]] = None  # 두 번째 행의 '수학'과 '영어'를 None으로 설정

print("*" * 50)
print("NaN 및 None이 포함된 exam_df = \n", exam_df)

# NaN 값을 포함한 행 제거
print("*" * 50)
print("NaN이 있는 행 제거 (axis=0): \n", exam_df.dropna(axis=0))

# 특정 컬럼에서 NaN 값이 있는 행만 제거
print("*" * 50)
print("수학 컬럼에서 NaN이 있는 행 제거: \n", exam_df.dropna(axis=0, subset=["수학"]))

# 컬럼 자체에 NaN이 있는 경우, 해당 컬럼 제거 (선택적 코드)
# print("*" * 50)
# print("NaN이 있는 컬럼 제거 (axis=1): \n", exam_df.dropna(axis=1))

원본 exam_df =
    수학  영어 성별     합격
0  90  98  남   True
1  80  89  남  False
2  90  95  여   True
**************************************************
NaN 및 None이 포함된 exam_df =
      수학    영어   성별     합격
0  90.0  98.0  NaN   True
1   NaN   NaN    남  False
2  90.0  95.0    여   True
**************************************************
NaN이 있는 행 제거 (axis=0):
      수학    영어 성별    합격
2  90.0  95.0  여  True
**************************************************
수학 컬럼에서 NaN이 있는 행 제거:
      수학    영어   성별    합격
0  90.0  98.0  NaN  True
2  90.0  95.0    여  True

In [19]:
## data_indexing
exam_data = {
    "수학" : [90,80,90],
    "영어" : [98,89,95],
    "성별" : ["남","남","여"],
    "합격" : [True,False,True]
}

emam_df = pd.DataFrame(exam_data)

## 열변수명
print("수학")
print(exam_df["수학"])
print(exam_df[["수학", "성별"]])

## 인덱싱
print(exam_df[2:3])

수학
0    90
1    80
2    90
Name: 수학, dtype: int64
   수학 성별
0  90  남
1  80  남
2  90  여
   수학  영어 성별    합격
2  90  95  여  True

In [29]:
## loc
print(exam_df)

##
print("*" * 50)
print(exam_df.loc[0:2])

##
print("*" * 50)
print(exam_df.loc[:, ["수학", "합격"]])

## 
print("*" * 50)
print(exam_df.loc[1:2,"수학":"성별"])

   수학  영어 성별     합격
0  90  98  남   True
1  80  89  남  False
2  90  95  여   True
**************************************************
   수학  영어 성별     합격
0  90  98  남   True
1  80  89  남  False
2  90  95  여   True
**************************************************
   수학     합격
0  90   True
1  80  False
2  90   True
**************************************************
   수학  영어 성별
1  80  89  남
2  90  95  여

In [45]:
## 문제
df = pd.DataFrame({
    'hdz' : ['yes', 'no', 'no', 'no', 'yes'],
    'chestpain' : [True, False, False, True, False],
    'cholesterol' : [208, 282, 235, 277, 280],
    'sysbp' : [160, 140, 188, 162, 122]
}, index = np.arange(5))

################################### loc를 이용한 문제

# 문제 1. chestpain의 3번째와 5번째 자료를 loc index를 이용하여 추출하여라
result = df.loc[[2, 4], 'chestpain']
print(result)
# 문제 2. chestpain, cholesterol, sysbp의 변수들의 2번째에서 ~ 4번째 자료를 loc index를 이용하여 추출하여라
print(df.loc[1:3, "chestpain":"sysbp"])

# 문제 3. hdz 열 전체를 loc index를 이용하여 추출하여라
print(df.loc[:, "hdz"])

# 문제 4. 열의 순서를 바꾸어서 loc index를 이용하여 추출하여라
print(df.loc[:, ::-1])
################################### loc를 이용한 문제

# 문제 1. chestpain의 3번째와 5번째 자료를 iloc index를 이용하여 추출하여라

# 문제 2. chestpain, cholesterol, sysbp의 변수들의 2번째에서 ~ 4번째 자료를 iloc index를 이용하여 추출하여라

# 문제 3. hdz 열 전체를 iloc index를 이용하여 추출하여라

# 문제 4. 열의 순서를 바꾸어서 iloc index를 이용하여 추출하여라

2    False
4    False
Name: chestpain, dtype: bool
   chestpain  cholesterol  sysbp
1      False          282    140
2      False          235    188
3       True          277    162
0    yes
1     no
2     no
3     no
4    yes
Name: hdz, dtype: object
   sysbp  cholesterol  chestpain  hdz
0    160          208       True  yes
1    140          282      False   no
2    188          235      False   no
3    162          277       True   no
4    122          280      False  yes

In [55]:
df = pd.DataFrame({
    'hdz' : ['yes', 'no', 'no', 'no', 'yes'],
    'chestpain' : [True, False, False, True, False],
    'cholesterol' : [208, 282, 235, 277, 280],
    'sysbp' : [160, 140, 188, 162, 122]
}, index = np.arange(1, 6))
print(df)

print(df.iloc[:,1:3])

   hdz  chestpain  cholesterol  sysbp
1  yes       True          208    160
2   no      False          282    140
3   no      False          235    188
4   no       True          277    162
5  yes      False          280    122
   chestpain  cholesterol
1       True          208
2      False          282
3      False          235
4       True          277
5      False          280

In [61]:
## 행과 열 추가
print(exam_df)

## 열 추가
exam_df["음악"] = [100, 90,80]
# exam_df.insert(1, "코딩", [50,80,100])
(exam_df)

## 행 추가
exam_df.loc[3] = [60,90,80,"여",False, 100]
exam_df

     수학   코딩    영어   성별     합격   음악
0  90.0   50  98.0  NaN   True  100
1   NaN   80   NaN    남  False   90
2  90.0  100  95.0    여   True   80

     수학   코딩    영어   성별     합격   음악
0  90.0   50  98.0  NaN   True  100
1   NaN   80   NaN    남  False   90
2  90.0  100  95.0    여   True   80
3  60.0   90  80.0    여  False  100

In [64]:
# 데이터 값 바꾸기
print(exam_df)

exam_df.loc[3,"코딩"] = 0
print(exam_df)

exam_df.loc[2,"코딩":"영어"] = 0
print(exam_df)

     수학   코딩    영어   성별     합격   음악
0  90.0   50  98.0  NaN   True  100
1   NaN   80   NaN    남  False   90
2  90.0  100  95.0    여   True   80
3  60.0    0  80.0    여  False  100
     수학   코딩    영어   성별     합격   음악
0  90.0   50  98.0  NaN   True  100
1   NaN   80   NaN    남  False   90
2  90.0  100  95.0    여   True   80
3  60.0    0  80.0    여  False  100
     수학  코딩    영어   성별     합격   음악
0  90.0  50  98.0  NaN   True  100
1   NaN  80   NaN    남  False   90
2  90.0   0   0.0    여   True   80
3  60.0   0  80.0    여  False  100

In [76]:
df = pd.DataFrame({
    'hdz' : ['yes', 'no', 'no', 'no', 'yes'],
    'chestpain' : [True, False, False, True, False],
    'cholesterol' : [208, 282, 235, 277, 280],
    'sysbp' : [160, 140, 188, 162, 122]
}, index = np.arange(5))
df
df.loc[4, "sysbp"] = 10000
print(df)
print("*" * 50)

df.loc[1:3, "sysbp"] = [1,2,3]
print(df)

   hdz  chestpain  cholesterol  sysbp
0  yes       True          208    160
1   no      False          282    140
2   no      False          235    188
3   no       True          277    162
4  yes      False          280  10000
**************************************************
   hdz  chestpain  cholesterol  sysbp
0  yes       True          208    160
1   no      False          282      1
2   no      False          235      2
3   no       True          277      3
4  yes      False          280  10000

In [83]:
dict_data ={
    "c0" : np.arange(1,4),
    "c1" : np.arange(4,7),
    "c2" : np.arange(7,10),
    "c3" : np.arange(10,13),
    "c4" : np.arange(13,16),
}
df = pd.DataFrame(dict_data, index = ["r0","31","r2"])
print(df)

print("*" * 50)
df.set_index("c0", inplace=True)
print(df)

print("*" * 50)
df.reset_index(inplace=True)
print(df)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
31   2   5   8  11  14
r2   3   6   9  12  15
**************************************************
    c1  c2  c3  c4
c0
1    4   7  10  13
2    5   8  11  14
3    6   9  12  15
**************************************************
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [98]:
print(fpath)
print(fname)
print(file)

vor = pd.read_excel(file)
print(vor)
vor.set_index("id", inplace= True)
print(vor)
vor.reset_index(inplace= True)
print(vor)

./dataset
vor_r.xlsx
./dataset\vor_r.xlsx
    group  id    time    hz0.04    hz0.08     hz0.1    hz0.16    hz0.32  \
0       1   1     Pre  0.213840  0.717955  0.848727  0.850790  0.802738
1       1   2     Pre  0.345725  0.795440  0.781473  0.924972  0.801245
2       1   3     Pre  0.376285  0.799327  0.781350  0.777773  0.868007
3       1   4     Pre  0.451440  0.771083  0.808645  0.787825  0.839985
4       1   5     Pre  0.287360  0.825547  0.831303  0.818332  0.817320
..    ...  ..     ...       ...       ...       ...       ...       ...
59      2  12  Post14  0.079660  0.237193  0.471418  0.474830  0.585082
60      2  13  Post14  0.085117  0.387700  0.403857  0.583710  0.665262
61      2  14  Post14  0.058188  0.399475  0.467535  0.648505  0.657350
62      2  15  Post14  0.098390  0.357222  0.478880  0.456372  0.536233
63      2  16  Post14  0.117395  0.449813  0.472043  0.571655  0.690753

      hz0.64       hz1
0   0.808393  0.738967
1   0.803880  0.781420
2   0.868853  0.754252
3   0.832352  0.818722
4   0.816153  0.836298
..       ...       ...
59  0.660957  0.623650
60  0.690318  0.652092
61  0.660045  0.586642
62  0.629415  0.627395
63  0.678215  0.658850

[64 rows x 10 columns]
    group    time    hz0.04    hz0.08     hz0.1    hz0.16    hz0.32    hz0.64  \
id
1       1     Pre  0.213840  0.717955  0.848727  0.850790  0.802738  0.808393
2       1     Pre  0.345725  0.795440  0.781473  0.924972  0.801245  0.803880
3       1     Pre  0.376285  0.799327  0.781350  0.777773  0.868007  0.868853
4       1     Pre  0.451440  0.771083  0.808645  0.787825  0.839985  0.832352
5       1     Pre  0.287360  0.825547  0.831303  0.818332  0.817320  0.816153
..    ...     ...       ...       ...       ...       ...       ...       ...
12      2  Post14  0.079660  0.237193  0.471418  0.474830  0.585082  0.660957
13      2  Post14  0.085117  0.387700  0.403857  0.583710  0.665262  0.690318
14      2  Post14  0.058188  0.399475  0.467535  0.648505  0.657350  0.660045
15      2  Post14  0.098390  0.357222  0.478880  0.456372  0.536233  0.629415
16      2  Post14  0.117395  0.449813  0.472043  0.571655  0.690753  0.678215

         hz1
id
1   0.738967
2   0.781420
3   0.754252
4   0.818722
5   0.836298
..       ...
12  0.623650
13  0.652092
14  0.586642
15  0.627395
16  0.658850

[64 rows x 9 columns]
    id  group    time    hz0.04    hz0.08     hz0.1    hz0.16    hz0.32  \
0    1      1     Pre  0.213840  0.717955  0.848727  0.850790  0.802738
1    2      1     Pre  0.345725  0.795440  0.781473  0.924972  0.801245
2    3      1     Pre  0.376285  0.799327  0.781350  0.777773  0.868007
3    4      1     Pre  0.451440  0.771083  0.808645  0.787825  0.839985
4    5      1     Pre  0.287360  0.825547  0.831303  0.818332  0.817320
..  ..    ...     ...       ...       ...       ...       ...       ...
59  12      2  Post14  0.079660  0.237193  0.471418  0.474830  0.585082
60  13      2  Post14  0.085117  0.387700  0.403857  0.583710  0.665262
61  14      2  Post14  0.058188  0.399475  0.467535  0.648505  0.657350
62  15      2  Post14  0.098390  0.357222  0.478880  0.456372  0.536233
63  16      2  Post14  0.117395  0.449813  0.472043  0.571655  0.690753

      hz0.64       hz1
0   0.808393  0.738967
1   0.803880  0.781420
2   0.868853  0.754252
3   0.832352  0.818722
4   0.816153  0.836298
..       ...       ...
59  0.660957  0.623650
60  0.690318  0.652092
61  0.660045  0.586642
62  0.629415  0.627395
63  0.678215  0.658850

[64 rows x 10 columns]